sqlalchemy==1.4.37
flask==2.1.2

# Вот тут не помню точно, но вроде я всегда использовал psycopg2-binary. И сейчас у меня не получилось поставить просто psycopg2, но возможно можно и так
psycopg2-binary==2.9.3
# psycopg2==2.9.3
